
@{
    ViewBag.Title = "Register";
}
<style>
    th {
        background-color: black;
        color: white;
    }
</style>
<h1>@ViewBag.Message</h1>

@Html.ActionLink("Back to Registration", "Index")










